{% extends 'diary/base.html' %}

{% block content %}
<form action='' method='POST'>
    <table class='table'>
        <tr>
            <th>{{ day.title.label }}</th>
            <td>{{ day.title }}</td>
        </tr>
        <tr>
            <th>{{ day.text.label }}</th>
            <td>{{ day.text }}</td>
        </tr>
        <tr>
            <th>{{ day.date.label }}</th>
            <td>{{ day.date }}</td>
        </tr>
    </table>
    <p>T'es sure de supprimer ce ficher??? </p>
    <button type='submit' class='btn btn-primary'>Supprimer!</button>
{% csrf_token %}
</form>
{% endblock %}